{%- comment -%}
  Include vars:
  section_items
  type
{%- endcomment -%}

<!-- Nav -->
<nav id="nav">
  <ul>
    {%- assign blogPage = site.html_pages | where: "tag", "front" | where: "title", "Blog" -%}  <!-- Reference to blog page -->
    {%- unless blogPage == null -%}
      {%- assign blogPage = blogPage | sort: 'order' -%}
      {%- for _page in blogPage -%}
        {%- assign blogTitle = _page.title | default: _page.layout -%}
        {%- assign blogSlug = _title | slugify -%}
        {%- assign blogIcon = _page.icon | default: 'fa-link' -%}
        {%- assign blogURL = _page.url | default: 'fa-link' -%}
      {%- endfor -%}
    {%- endunless -%}


    {%- assign _pages = site.html_pages | where: "page_id", "header" -%}  <!-- customized -->
    {%- unless _pages == null -%}
      {%- assign _pages = _pages | sort: 'order' -%}
      {%- for _page in _pages -%}
        {%- assign _title = _page.title | default: _page.layout -%}
        {%- assign _slug = _title | slugify -%}
        {%- assign _icon = _page.icon | default: 'fa-link' -%}
        {%- comment -%}<!-- page.url (no underscore) is the url of the current page-->{%- endcomment -%}

        {%- if _page.tag == "paginated" -%}
          {%- if _page.url == page.url -%}
          <li><a href="{{- blogURL | absolute_url -}}" id="{{- blogSlug -}}" class="active">
            <span class="icon {{ blogIcon }}">{{- blogTitle -}}</span>
          </a></li>
          {%- endif -%}

        {%- elsif _page.url == page.url -%}
          <li><a href="#" id="{{- _slug -}}" class="active">
            <span class="icon {{ _icon }}">{{- _title -}}</span>
          </a></li>

        <!-- Static blog pages whitelist links TODO: refactor to a list -->
        {%- elsif _page.tag == "front" -%}
          {%- if include.type == "BlogStatic" or include.type == "Post"-%}
          <li><a href="{{- blogURL | absolute_url -}}" id="{{- blogSlug -}}" class="active">
            <span class="icon {{ blogIcon }}">{{- blogTitle -}}</span>
          </a></li>

          {%- elsif include.type != "Blog" -%}
          <li><a href="{{- _page.url | absolute_url -}}" id="{{- _slug -}}-link">
            <span class="icon {{ _icon }}">{{- _title -}}</span>
          </a></li>


          <!-- Whitelist of pages that can have blog link (from within blog, highlighted) -->
          {%- else -%}
            {%- assign navs = site.nav_titles -%}
            {%- for title in navs -%}
              {%- if title == page.title -%}
              <li><a href="{{- blogURL | absolute_url -}}" id="{{- blogSlug -}}" class="active">
                <span class="icon {{ blogIcon }}">{{- blogTitle -}}</span>
              </a></li>
              {%- endif -%}
            {%- endfor -%}

          {%- endif -%}

        {%- elsif _page.url -%}
          <li><a href="{{- _page.url | absolute_url -}}" id="{{- _slug -}}-link">
            <span class="icon {{ _icon }}">{{- _title -}}</span>
          </a></li>

        {%- else -%}
          <li><a href="{{- '/' | absolute_url -}}" id="broken-link"><span class="icon fa-unlink">[broken link]</span></a></li>
        {%- endif -%}
      {%- endfor -%}
    {%- endunless -%}

  <hr>

  <!-- ____________________________________ Lower Bracket ____________________________________ -->
    <!-- Static blog pages whitelist links TODO: refactor to a list -->
    {%- if include.type == "Blog" or include.type == "BlogStatic" or include.type == "Post" -%}
      <!-- All link -->
      {%- assign _pages = site.html_pages | where: "title", "Blog" -%}
      {%- unless _pages == null -%}
        {%- for _page in _pages -%}
          {%- if _pages.tag == "paginated" -%}
            {%- if  _page.url == page.url -%}
              <li><a href="{{- blogURL | absolute_url -}}" id="{{- blogSlug -}}" class="active">
                <span>Show All</span>
              </a></li>
            {%- endif -%}
          {%- elsif _page.url == page.url -%}
            <li><a href="{{- blogURL | absolute_url -}}" id="{{- blogSlug -}}" class="active">
              <span>Show All</span>
            </a></li>


          {%- elsif _page.tag == "front" -%}
            <!-- Static blog pages whitelist links TODO: refactor to a list -->
            {%-  if include.type == "BlogStatic" or include.type == "Post" -%}
              <li><a href="{{- blogURL | absolute_url -}}" id="{{- _slug -}}-link">
                <span>Show All</span>
              </a></li>
            {%- elsif _page.title == "Blog" -%}
              {%- if page.title != "paginated" -%}
                {%- assign navs = site.nav_titles -%}
                {%- for title in navs -%}
                  {%- if title == page.title -%}
                  <li><a href="{{- blogURL | absolute_url -}}" id="{{- _slug -}}-link">
                    <span>Show All</span>
                  </a></li>
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endunless -%}


    <!-- Other blog tags -->
    {%- assign nav_titles = site.nav_titles -%}
    {%- unless nav_titles == null -%}
      {%- for titles in nav_titles -%}
        {%- assign anchor = site.html_pages | where: "tag", "front" | where: "title", titles -%}
          <!-- Produce Anchor Element -->
          {%- unless anchor == null -%}
            {%- assign anchor = anchor | sort: 'order' -%}
            {%- for _page in anchor -%}
              {%- assign anchorTitle = _page.title | default: _page.layout -%}
              {%- assign anchorSlug = _title | slugify -%}
              {%- assign anchorIcon = _page.icon | default: 'fa-link' -%}
              {%- assign anchorURL = _page.url | default: 'fa-link' -%}
            {%- endfor -%}
          {%- endunless -%}
          <!-- Produce rest of the elements -->
        {%- assign _pages = site.html_pages | where: "title", titles -%}
        {%- unless _pages == null -%}
          {%- for _page in _pages -%}
            {%- if _page.tag == "paginated" -%}
              {%- if  _page.url == page.url -%}
                <li class = "categories"><a href="{{- anchorURL | absolute_url -}}" id="{{- anchorSlug -}}" class="active">
                  <span>&raquo; &nbsp; {{ anchorTitle }}</span>
                </a></li>
              {%- endif -%}
            {%- elsif _page.url == page.url -%}
              <li class = "categories"><a href="{{- anchorURL | absolute_url -}}" id="{{- anchorSlug -}}" class="active">
                <span>&raquo; &nbsp; {{ anchorTitle }}</span>
              </a></li>

          <!-- Static blog pages whitelist links TODO: refactor to a list -->
            {%- elsif _page.tag == "front" -%}
              {%- if page.title == "Blog" or include.type == "BlogStatic" or include.type == "Post" -%}
                <li class = "categories"><a href="{{- anchorURL | absolute_url -}}" id="{{- anchorSlug -}}-link">
                  <span>&raquo; &nbsp; {{ anchorTitle }}</span>
                </a></li>
                <!-- Whitelist of approved pages -->
              {%- else -%}
                {%- assign navs = site.nav_titles -%}
                {%- for title in navs -%}
                  {%- if title == page.title and title != titles -%}
                  <li class = "categories"><a href="{{- anchorURL | absolute_url -}}" id="{{- anchorSlug -}}-link">
                    <span>&raquo; &nbsp; {{ anchorTitle }}</span>
                  </a></li>

                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endunless -%}
      {%- endfor -%}
    {%- endunless -%}


    <!-- Blog Static Pages -->
    {%- assign statics = site.html_pages | where: "page_id", "Blog" -%}
      {%- unless blogPage == null -%}
        {%- for static in statics -%}
          {%- assign _title = static.title | default: _page.layout -%}
          {%- assign _slug = _title | slugify -%}
          {%- assign _icon = static.icon | default: 'fa-link' -%}


          {%- if static.url == page.url -%}
            <li><a href="#" id="{{- _slug -}}" class="active">
              <span class="icon {{ _icon }}">{{- _title -}}</span>
            </a></li>

          {%- elsif static.url -%}
            <li><a href="{{- static.url | absolute_url -}}" id="{{- _slug -}}-link">
              <span class="icon {{ _icon }}">{{- _title -}}</span>
            </a></li>

          {%- else -%}
            <li><a href="{{- '/' | absolute_url -}}" id="broken-link"><span class="icon fa-unlink">[broken link]</span></a></li>
          {%- endif -%}


        {%- endfor -%}
      {%- endunless -%}



    {%- else -%}<!-- Non - blog pages -->
      {%- assign _sections = include.section_items | where_exp: "section", "section.hide != true" -%}
      {%- unless _sections == null -%}
        {%- for _sect in _sections -%}
          {%- assign _title = _sect.title | default: _sect.layout | default: 'Untitled' -%}
          {%- assign _slug = _title | slugify -%}
          {%- assign _icon = _sect.icon | default: 'fa-file' -%}
          <li><a href="#{{- _slug -}}" id="{{- _slug -}}-link" class="scrolly"><span class="icon {{ _icon }}">{{- _title -}}</span></a></li>
        {%- endfor -%}
      {%- endunless -%}
    {%- endif -%}


  </ul>
</nav>
